<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('./../partials/head'); %>
  </head>
  <body class="app">
    <div class="app__header">
        <% Object.keys(portfolios).forEach(portfolio => { %>
            <a class="header__link" href="/<%= portfolio.split(" ").join("-") %>">
                <div class="header__tab"><%= portfolio %></div>
            </a>
        <% }) %>
    </div>
    <div class="app__body">
        <%
            // portfolioData - Object with properties:
            // buys (array)
            // sells (array)
            // sellGainLoss (array)
            // gains (float)
            // overPaginationLimit (boolean)
        %>
        <div class="body__container">
            <div class="body__sell-blocks">
                <div class="body__highlights">
                    <h2>Portfolio gains $<%= portfolioData.gains.toFixed(2) %></h2>
                    <p>Showing all data? <%= portfolioData.overPaginationLimit ? 'no' : 'yes' %></p>
                </div>
                <% portfolioData.sellGainLoss.forEach(sellGainLossItem => { %>
                    <div class="sell-block">
                        <div class="sell-block__bar <%= parseFloat(sellGainLossItem.usdGain) > 0 ? "green" : "red" %>"></div>
                        <div class="sell-block__text">
                            <p>
                                sold at: $<%= sellGainLossItem.price %> on <%= sellGainLossItem.sellDateTime.split('T')[0] %>
                                gain <%= parseFloat(sellGainLossItem.usdGain) > 0 ? "" : "-" %>$<%= sellGainLossItem.usdGain.toFixed(2).replace('-', '') %>
                            </p>
                        </div>
                    </div>
                <% }) %> 
            </div>
            <div class="body__btc-owned">
                <h2>Unsold BTC and gains according to current price</h2>
                <p>BTC current price: <%= portfolioData.btcPrice.toLocaleString() %></p>
                <div class="btc-owned__rows">
                    <% portfolioData.buys.forEach(btcBuy => { %>
                        <div class="btc-owned__row <%= parseFloat(btcBuy.price) < parseInt(portfolioData.btcPrice.replace(',', '')) ? 'green' : 'red' %>">
                            <span>Btc amt: <%= btcBuy.size %> bought at <%= btcBuy.price %> Can sell now? <p><%= parseInt(btcBuy.price) < parseFloat(portfolioData.btcPrice.replace(',', '')) ? 'yes' : 'no' %> </p></span>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>